<h1><%= @list.name %></h1>

<ul>
<% @bookmarks.each do |bookmark| %>
  <li><h4><%= link_to bookmark.movie.title, bookmark.movie.poster_url %></h4>
  <%= bookmark.movie.overview %>
  <p><%= bookmark.movie.rating %></p></li>
  <%= link_to 'Delete',
      list_path(@list),
      data: {turbo_method: :delete, turbo_confirm: 'Sure?'} %>
<% end %>

</ul>

<%= link_to "Add a movie", new_list_bookmark_path(@list) %>

<%= link_to "Back to all lists", lists_path(@list) %>
