<h1>Add a movie to your <%= @list.name %> list</h1>

<%= simple_form_for([@list, @bookmark]) do |f|%>
  <%= f.input :movie, collection: @movies %>
  <%= f.input :comment, placeholder: 'Add a comment'%>
  <%= f.submit %>

<% end%>


<%# f.input :country_id, collection: @continents, as: :grouped_select, group_method: :countries %>
